.canvas{
    width: 500px;
    height: 600px;
    background-color: #1B1B32;
    overflow: hidden;
    filter: blur(2px);
}

.frame{
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one{
    width: 425px;
    height: 150px;
    background-color: #C9FCE9;
    margin: 20px auto;
    box-shadow: 0 0 3px 3px #C9FCE9;
    border-radius: 9px;
    transform: rotate(-0.6deg);
}

.two{
    width: 475px;
    height: 200px;
    background-color: #00C893;
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px #00C893;
    border-radius: 8px 10px;
    transform: rotate(0.4deg);
}

.three{
    width: 91%;
    height: 28%;
    background-color: #518071;
    margin: auto;
    filter: blur(2px);
    box-shadow: 0 0 5px 5px #518071;
    border-radius: 30px 25px 60px 12px; /*top-left, top-right, bottom-right, and bottom-left */
    transform: rotate(-0.2deg);
}

.one, .two{
    filter: blur(1px);
}